* {
  margin: 0px;
  padding: 0px;
}

/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* styles for nav bar */

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  height: 100px;
  margin: auto;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo-text {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
}
.special-design {
  color: #ff42a5;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #3c354f;
  font-family: Work Sans;
  font-size: 1.1rem;
  font-weight: 500;
}

.different-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: lightgrey;
  padding: 17px 22px;
}

/* styles for banner */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  height: auto;
  width: auto;
  margin: auto;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 200px;
}

.banner-content {
  background-image: url(./images/banner-bg.svg);

  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
/* 
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding: 100px 150px; */
  list-style: none;
}

.banner-title {
    font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}

.goat {
    font-family: Work Sans;
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}







/* media query */
@media screen and (max-width: 425px) {
  .nav-bar-container {
    flex-direction: column;
    gap: 30px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .different-menu {
    width: 220px;
    height: 15px;
    justify-content: center;
  }
}
