* {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}
/* work sans font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* styles for nav bar */

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 120px; */
  height: 100px;
  max-width: 80%;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.logo-text {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
}
.special-design {
  color: #ff42a5;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #3c354f;
  font-family: Work Sans;
  font-size: 1.1rem;
  font-weight: 500;
  width: 50%;
}

.different-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: lightgrey;
  padding: 17px 22px;
}

/* styles for banner */

.banner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0px;
  background: #ffff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.banner-content {
  background-image: url(./images/Vector\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none;
  width: 50%;
  margin: 0px;
  padding: 100px 150px;
}

.banner-title {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}

.special-style {
  font-family: Work Sans;
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-btn {
  display: flex;
  padding-top: 10px;
  gap: 5px;
}

.btn-1 {
  color: #fff;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border: none;
  padding: 10px 20px;
}

.btn-2 {
  color: #fff;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  padding: 20px;
}

.banner-image {
  width: 50%;
}

.banner-image img {
  width: 100%;
  height: 100%;
}
/*  style for online games */

.online-games {
  width: 80%;
  margin: 0 auto;
  /* margin: 100px; */
}

.online-games-content {
  width: 100%;
  text-align: center;
}

.online-game-title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}

.special-style-online-game {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-game-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.figure {
  width: 100%;
  height: 80%;
}

/* styles for Play Games Online Anywhere, Anytime! section */

.play-gam-online-container {
  display: flex;
  width: 80%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.play-game-online-section-img {
  width: 50%;
  height: 100%;
}

.play-game-img-1 {
  width: 100%;
  height: 100%;
}

.play-game-img-2 {
  position: relative;
  left: 350px;
  bottom: 150px;
  width: 40%;
}
.play-game-online-section-content {
  width: 50%;
  padding-bottom: 150px;
}

.play-game-title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}

.play-game-description {
  color: #534c64;
  font-family: Work Sans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
}

.different-games {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  row-gap: 80px;
  margin-bottom: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.different-games div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 05px;
}

/* styles for footer section */

.footer-container {
  background: #0b0223;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.footer-logo {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 20px;
  padding-top: 30px;
}
.footer-logo-text {
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  color: #f0eef3;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  gap: 100px;
}

.social-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

.formalities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 50px;
}

/* media query */
@media screen and (max-width: 425px) {
  .nav-bar-container {
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .different-menu {
    width: 80%;
    height: 15px;
    justify-content: center;
  }

  .banner-container {
    flex-direction: column-reverse;
    margin-top: 200px;
  }
  .banner-content {
    width: 100%;
  }

  .banner-image img {
    width: 100%;
  }

  .banner-content {
    width: 100%;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .banner-container {
    gap: 0px;
  }

  .btn-2 {
    margin-top: 5px;
  }

  .online-game-img {
    flex-direction: column;
  }

  .special-style {
    font-size: 3.5rem;
  }

  .play-gam-online-container {
    flex-direction: column-reverse;
  }
  .play-gam-online-container {
    width: 100%;
    gap: 0px;
    margin-top: 20px;
  }

  .play-game-online-section-img {
    width: 70%;
    height: 100%;
  }
  .play-game-img-2 {
    position: relative;
    left: 220px;
    bottom: 80px;
    width: 40%;
  }

  .play-game-online-section-content {
    width: 50%;
    padding-bottom: 20px;
  }

  .different-games {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap:5px; */
    /* justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    row-gap: 80px;
    margin-bottom: 50px;
    border: 2px solid red; */
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
  }
  .different-games div img {
    width: 30px;
  }

  .different-games div p {
    font-size: 0.7rem;
  }

  .footer-container {
    width: 100%;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .formalities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
